header {
    background-color: lightblue;
    padding: 20px;
}

footer {
    background-color: lightblue;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

#cell1{
    background-color: #90ee90;
}

#cell2{
    background-color: #20b2aa;
}

#cell3{
    background-color: #e0ffff;
}

#cell4{
    background-color: #9acd32;
}

#cell5{
    background-color: #4fc4b3;
}

#cell6{
    background-color: #1bc084;
}

#cell7{
    background-color: #41d38a;
}

#cell8{
    background-color: #278850;
}
#cell9{
    background-color: #add8e6;
}

#cell10{
    background-color: #20b2aa;
}

#cell11{
    background-color: #87cefa;
}

#cell12{
    background-color: #0abebe;
}

#cell13{
    background-color: #e2bbd3;
}

#cell14{
    background-color: #f08080;
}

#cell15{
    background-color: #d48bb6;
}

#cell16{
    background-color: #ffb6c1;
}